[core]
  excludesfile = ~/.gitignore
  whitespace   = tab-in-indent,tabwidth=2

[user]
  name  = David Cuddeback
  email = "david.cuddeback@gmail.com"

[color]
  ui = auto

[status]
  relativePaths     = true
  submodulesummary  = true

[push]
  default = upstream

[rebase]
  autosquash = true

[apply]
  ignorewhitespace  = change

[merge]
  tool = "vimdiff"

[mergetool]
  prompt = false

; Use MacVim as a mergetool
[mergetool "mvimdiff"]
  cmd = mvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[alias]
  summary = log --pretty=oneline
  active  = branch --contains 'HEAD@{2 weeks ago}'
  tree    = log --graph --pretty=oneline --abbrev-commit --decorate --color
  forest  = log --graph --pretty=oneline --abbrev-commit --decorate --color --all
  recent  = log --graph --pretty=oneline --abbrev-commit --decorate --color -10
  message = log --format=format:%s -1
  last    = log --format=format:%H -1
  revs    = log --format=format:%H
  preview = diff --staged
