# general ignore patterns for all projects (including dotfiles)
*.o
*.swp
*.jar
*.gpg
*~
tags
.DS_Store

# ignore patterns specific to dotfiles
.gnupg/random_seed
.lein/repl-history
.lein/indices
.lein/cache/
.lein/credentials.clj
.vim/view
