# general ignore patterns for all projects (including dotfiles)
*.swp
*.jar
*.gpg
*~

# ignore patterns specific to dotfiles
.gnupg/random_seed
.lein/repl-history
.lein/indices
.lein/cache/
.lein/credentials.clj
