[core]
  excludesfile = ~/.gitignore

[user]
  name  = David Cuddeback
  email = "david.cuddeback@gmail.com"

[core]
  whitespace   = tab-in-indent,tabwidth=2
  excludesfile = ~/.gitignore

[color]
  ui = auto

[status]
  relativePaths     = true
  submodulesummary  = true

[rebase]
  autosquash = true

[apply]
  ignorewhitespace  = change

[merge]
  tool = "mvimdiff"

[mergetool]
  prompt = false

; Use MacVim as a mergetool
[mergetool "mvimdiff"]
  cmd = mvim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[rebase]
  autosquash = true

[merge]
  tool = vimdiff

[alias]
  summary = "log --pretty=oneline"
  active  = "branch --contains 'HEAD@{2 weeks ago}'"
  tree    = log --graph --pretty=oneline --abbrev-commit --decorate --color
  message = log --format=format:%s -1
  last    = log --format=format:%H -1
  revs    = log --format=format:%H
